<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Person Create</title>
</head>
<body>

<form action="#" th:action="@{/person/create}" th:object="${person}" method="post">
    <p>Name: <input type="text" th:field="*{name}" /></p>
    <p>Last Name: <input type="text" th:field="*{lastName}" /></p>
    <p>Email: <input type="email" th:field="*{email}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>

</body>
</html>
